.App {
  text-align: left;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 7vh;
  background-color: #282c34;
}

.App-main {
  padding-left: 16px;
  padding-right: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control {
  display: grid;
  grid-template-columns: 0.22fr 1fr 1fr auto;
  grid-gap: 8px;
  margin-bottom: 16px;
}

.form-buttons {
  display: grid;
  grid-template-columns: 0.125fr 0.125fr 1fr auto;
  grid-gap: 8px;
}
